.tableHeader, .summaryHeader {
    background: #ff9900;
    color: #ffffff;
}

.ttxt, .ttxtIndented, .text, .inlineLabel {
    color: #666666;
}

.tabSelected {
    background: #ff9900;
    color: #ffffff;
}

.button {
    background: #f26334;
    color: #ffffff;
}

.title {
    color: #000000;
}





/*  the following displays the orange bar graphic at the bottom */

body {
	background-image: url(../../../../apply/inc/sainsb_footer.php);
	background-position: bottom;
	background-repeat: no-repeat;
	}